body {
    background-color:#eee;
    background-size:cover;
    /*background-image:url("../photo/hora-3.jpg");*/
    background-attachment:fixed;
    background-repeat:no-repeat;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    width: auto;
}

.home {
    width: 900px;
    color: white;
    text-align:center;
    margin-top:0px;
    margin: auto;
    font-family: serif;
}

.theme{
    max-width: 900px;     
    width: 100%;            /* 画面に合わせて縮む */
    margin: 0 auto;         /* 中央揃え */
    padding: 0 20px;  
    width: 100%;
    vertical-align: middle;
    padding-right: 0;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    color: black;
    border-bottom: 2px solid #333;
    padding-bottom: 4px;          
    color: #333;
    vertical-align: middle;
    font-family: Apple Chancery;
}

.month{
    width: 150px;
    border-bottom: 2px solid #333;
    font-size: 20px;
    color: #333;
    max-width: 900px;               /* 画面に合わせて縮む */ 
}

.main1{
    max-width: 900px;     
    width: 100%;            /* 画面に合わせて縮む */
    margin: 0 auto;         /* 中央揃え */
    padding: 0px 20px;
    margin-top: 40px;
    background-color: #333;
    vertical-align: middle;
    padding-right: 0;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-bottom: 4px;              
    color: #eee;
}

/*ーーーー10月欄に関する設定ーーーー*/
.main1_0{
    display: flex;
    max-width: 900px;
    width: 100%;            /* 画面に合わせて縮む */
    height: auto;
    margin: 0 auto;
    padding: 0px 20px;
    margin-top: 10px;
    padding-right: 0;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    padding-bottom: 4px;
    padding-top: 4px;            
    color: #eee;
    background-color:dimgray;
}
.subtitle{
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #eee;
}
.main1_1{
    padding: 30px;
    text-align: justify;
    line-height: 33px;
}
.picture{
    width: 240px;
}

.main2{
    max-width: 900px;     
    width: 100%;            /* 画面に合わせて縮む */
    margin: 0 auto;         /* 中央揃え */
    padding: 0px 20px;
    margin-top: 40px;
    background-color: #333;
    vertical-align: middle;
    padding-right: 0;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-bottom: 4px;             
    color:#eee;
}

.main2_0{
    max-width: 900px;    
    width: 100%;            /* 画面に合わせて縮む */
    margin: 0 auto;
    padding: 0px 20px;
    margin-top: 10px;
    vertical-align: middle;
    padding-right: 0;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    padding-bottom: 4px;            
    color: #333;
}

.rogo{
    background-color: white;
    width: 300px;
}
.works.back{
    width: 200px;
    padding-top: 13px;
    background-color: #333;
}
.works.back:visited{
    background-color: #333;
    color: #eee;
}
.works.back:hover{
    background-color: brown;
    color: #eee;
}

.empty{
    margin: 5.0em 0; 
}
.empty_1{
    margin: 10.0em 0; 
}